@import 'variables.scss';

:root,
html[theme='light'] {
  --fg: #{$black};
  // --bg: #{$white};
  --bg: white;
  --bg-shaded: #f0f0f0;
  --bg-alt: #e1e1e1;
  // --primary: #{$primary};
  --green: green;
  --blue: blue;
  --yellow: yellow;
  --red: red;
  --grey: #{$grey};
  --grey-filter: #{color_filter($grey)};
  --grey-shaded: #{$grey-lighter};
}

// html[theme='dark'] {
//   --fg: #{$white};
//   --bg: #{$black};
//   --bg-alt: #{$black-lighter};
//   --grey: #{$grey};
//   --grey-filter: #{color_filter($grey)};
//   --grey-shaded: #{$grey-darker};
// }
